<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      autoReload="true">

    <variable name="logDirectory" value="${processdir}/logs"/>
    <variable name="logFileName" value="MediaDownloader.log"/>
    <variable name="maxLogFileSize" value="5242880"/>
    <variable name="maxArchiveFiles" value="10"/>

    <targets async="true">
        <target name="logfile" xsi:type="File" fileName="${logDirectory}/${logFileName}"
                archiveAboveSize="${maxLogFileSize}" maxArchiveFiles="${maxArchiveFiles}"
                archiveNumbering="DateAndSequence" encoding="UTF8"/>
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="logfile"/>
    </rules>
</nlog>