<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?ifndef ProductName ?>
    <?define ProductName = "Media Downloader"?>
    <?endif?>

    <?ifndef ProductVersion ?>
    <?define ProductVersion="!(bind.FileVersion.MediaDownloader.exe)"?>
    <?endif?>

    <?ifndef Manufacturer ?>
    <?define Manufacturer = "Wolfcub"?>
    <?endif?>

    <?ifndef UpgradeCode ?>
    <?define UpgradeCode = "006c680b-7607-4170-9f90-53d7a69866ec"?>
    <?endif?>

    <?if $(var.Platform) = "x64" ?>
    <?define ProgramFilesFolder = "ProgramFiles64Folder"?>
    <?else?>
    <?define ProgramFilesFolder = "ProgramFilesFolder"?>
    <?endif?>

    <Product Id="*"
             Name="$(var.ProductName)"
             Language="1033"
             Version="$(var.ProductVersion)"
             Manufacturer="$(var.Manufacturer)"
             UpgradeCode="$(var.UpgradeCode)">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perUser" InstallPrivileges="limited" />

        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed."
                      AllowSameVersionUpgrades="yes" />

        <Media Id="1" Cabinet="_494C9D65561241F4803B47835AD70ADC" EmbedCab="yes" />

        <Property Id="ALLUSERS" Secure="yes" Value="2" />
        <Property Id="MSIINSTALLPERUSER" Secure="yes" Value="1" />
        <Property Id="ARPPRODUCTICON" Value="APPICON" />
        <Icon Id="APPICON" SourceFile="..\Common\Images\icon.ico" />

        <Feature Id="ProductFeature" Title="[ProductName]" Level="1">
            <ComponentGroupRef Id="ProductComponents" />
            <ComponentGroupRef Id="MediaDownloaderComponents" />
            <ComponentGroupRef Id="ShortcutComponents" />
        </Feature>
    </Product>

    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="DesktopFolder" />
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="$(var.ProductName)" />
            </Directory>
            <Directory Id="$(var.ProgramFilesFolder)">
                <Directory Id="AppRootDirectory" Name="$(var.Manufacturer)">
                    <Directory Id="INSTALLDIR" Name="$(var.ProductName)">
                    </Directory>
                </Directory>
            </Directory>
        </Directory>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="MediaDownloaderComponents">
            <Component Id="MediaDownloaderComponent" Directory="INSTALLDIR"
                       Guid="{66CF73EA-F47C-4617-88D9-3D03204DDD95}">
                <File Name="MediaDownloader.exe" Id="MediaDownloader.exe" KeyPath="yes"
                      Source="$(var.SourceDir)\MediaDownloader.exe" />
            </Component>
        </ComponentGroup>

        <ComponentGroup Id="ShortcutComponents">
            <Component Id="DesktopShortcutComponent" Guid="*" Directory="DesktopFolder">
                <Shortcut Id="AppDesktopShortcut"
                          Name="$(var.ProductName)"
                          Directory="DesktopFolder"
                          Target="[#MediaDownloader.exe]"
                          WorkingDirectory="INSTALLDIR"
                          Icon="APPICON" />
                <!--Remove desktop shortcut on uninstall-->
                <RemoveFolder Id="DesktopFolder" On="uninstall" />
                <RegistryValue Root="HKCU" Key="Software\$(var.Manufacturer)\$(var.ProductName)" Name="installed"
                               Type="integer" Value="1" KeyPath="yes" />
            </Component>

            <Component Id="ApplicationShortcut" Guid="*" Directory="ApplicationProgramsFolder">
                <Shortcut Id="ApplicationStartMenuShortcut" Name="$(var.ProductName)"
                          Icon="APPICON" Target="[#MediaDownloader.exe]" WorkingDirectory="INSTALLDIR" />
                <!--Remove application shortcut from Program Menu on uninstall-->
                <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
                <!--Create application registry entry-->
                <RegistryValue Root="HKCU" Key="Software\Microsoft\$(var.Manufacturer)\$(var.ProductName)"
                               Name="installed"
                               Type="integer" Value="1" KeyPath="yes" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>