<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">

    <?ifndef ProductName ?>
    <?define ProductName = "Media Downloader"?>
    <?endif?>

    <?ifndef ProductVersion ?>
    <?define ProductVersion="!(bind.packageVersion.MediaDownloaderSetup)"?>
    <?endif?>

    <?ifndef Manufacturer ?>
    <?define Manufacturer = "Wolfcub"?>
    <?endif?>

    <?ifndef UpgradeCode ?>
    <?define UpgradeCode = "{E17BEB49-DE59-4B39-8806-37B99484A806}"?>
    <?endif?>
    
    <Bundle Name="$(var.ProductName)"
            Version="$(var.ProductVersion)"
            Manufacturer="$(var.Manufacturer)"
            UpgradeCode="$(var.UpgradeCode)"
            IconSourceFile="..\Common\Images\icon.ico">

        <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense">
            <bal:WixStandardBootstrapperApplication
                LicenseUrl=""
                SuppressOptionsUI="yes"
                LogoFile="..\Common\Images\icon64.png" />
        </BootstrapperApplicationRef>

        <Chain>
            <MsiPackage
                Id="MediaDownloaderSetup"
                SourceFile="$(var.MediaDownloaderSetup.TargetDir)$(var.MediaDownloaderSetup.TargetName)$(var.MediaDownloaderSetup.TargetExt)"
                DisplayInternalUI="no" />
        </Chain>
    </Bundle>
</Wix>
